@import 'variables'
@import 'extend'
@import 'mixin'

.backgroundlogin
    background-color: $colorbackgroundlogin
.backgroundownload
    background-color: $colornegro
// Containers

.containerletrasdownloadestilo
    @include margen(0px,auto,auto, 100px)
    @include aling-text(center)
    @include alto-ancho(550px,29px)

.containerbuttons
    display: flex
    @include alto-ancho(100%,auto)
    min-height: 39px
    font-size: 0.988875rem
    @include line-height(1.1883)
    border-radius: 50px
    justify-content: center
    align-items: center
    -webkit-box-align: center
    -webkit-box-pack: center

.containerdownloads
    grid-template-columns: 240px auto
    gap: 20px
    width: 100%
    max-width: 960px
    @include margen(0px,0px,auto,auto)
    display: grid
    padding: 40px
    display: flex
    position: sticky
    top: 102px
    left: 30px

.secciontitulocard
    display: flex
    flex-direction: column
    @include margen(auto,20px,auto,auto)

.containericon
    box-shadow: inset 0 0 2px hsla(0,0%,100%,.2), inset 0 -1px 3px rgba(0,0,0,.8)
    backdrop-filter: blur(24px)
    border-radius: 16px
    display: flex
    align-items: center
    justify-content: center
    @include margen(auto,12px,auto,auto)

.containersecurity
    @include aling-text(center)
    -webkit-box-align: center
    align-items: center
    color-scheme: dark
    @include margen(120px,auto,auto,auto)

.containerlistasecurity
    display: flex
    @include alto-ancho(auto,fit-content)
    position: sticky
    top: 102px
    left: 30px

.link
    color: $colorblanco
.link:hover
    color: $colorblanco

.containersecuritycontenido
    padding-left: 10px
    display: flex
    flex-direction: column
    @include aling-text(left)
    padding: 60px 20px

//Finaliza seccion containers

//estilos letras
.titulologin
    @include line-height(1.5)
    font-size: 1.5rem
    color: $colortitulologin
    @include margen(0px,0px,0px,2px)

.titulodownload
    font-size: 1.5em
    font-style: bold
    font-weight: 700
    color: $colortitulologin
    @include margen(0px,0px,0px,2px)

.estilonegrita
    font-style: bold

.letrascard
    font-size: 0.888875rem
    @include line-height(1.1883)
    color: $colorletrascard
    font-weight: normal
    @include margen(auto,0px,auto,auto)

.estilolistasecurity
    display: flex
    color: rgb(250, 250, 250)
    padding: 10px 20px
    border-radius: 10px
    text-decoration: none

.estilolistaelementosecurity
    display: flex
    color: rgb(250, 250, 250)
    padding: 10px 20px
    border-radius: 10px
    text-decoration: none

//finaliza estilos de letras

//alineado
.seccionsingup
    // flex-direction: row
    text-align: center !important

.alineadoizq
    text-align: left !important

.alineadocentro
    text-align: center !important

//finaliza alineado

//espaciado
.espaciadoderecha
    @include margen(auto,auto,15px,auto)

.margintoplarge
    @include margen(200px,auto,auto,auto)

.margintopmedium
    @include margen(50px,auto,auto,auto)
//finaliza espaciado

//estilo botones
.estilobuttonsinginnoapple
    background: rgb(37, 40, 45)
    color: rgb(227, 229, 232)
    border: 1px solid rgb(44, 48, 53)
    @include margen(auto,4px,auto,auto)

.estiloborderbutton
    border-bottom-color: $colorchoicenavbar !important
    border-bottom: 2px solid

.estilobuttonsinginapple
    background: $colornegro
    color: $colorblanco
    @include margen(6px,auto,auto,auto)
    border: 1px solid rgb(44, 48, 53)

.estilobuttonsingle
    background: rgb(37, 40, 45)
    color: rgb(227, 229, 232)
    border: 1px solid rgb(44, 48, 53)
    @include margen(6px,auto,auto,auto)

.estilobotonesprincipales
    display: flex
    background-color: $colorbuttonlogin !important
    color: $colorblanco
    font-size: 15px !important
    max-height: 42px
    @include alto-ancho(100% ,38px)
    -webkit-box-align: center
    align-items: center
    -webkit-box-pack: center
    justify-content: center
//finaliza estilo botones

.stylecardlogin
    border-radius: 20px !important
    border: 0.5px solid $colorbordercard !important
    background-color: $colorbackgroundlogincard !important

.estiloinput
    @include alto-ancho(100% ,auto)
    @include margen(10px,auto,auto,auto)
    border: 1px solid rgb(44, 48, 53)
    background: rgb(28, 31, 34)
    color: rgb(227, 229, 232)
    border-radius: 0.625rem
    padding: 12px 2px
    font-size: 0.888875rem
    font-weight: 400
    @include line-height(1.5)

.estilocardimg
    ms-flex-align: stretch
    align-items: stretch
    @include margen(auto,10px,auto,auto)
    border-radius: 36px
    max-width: 100%

.estilobotonescondido
    visibility: hidden

.estilocardimg:hover
    -webkit-backdrop-filter: blur(24px)
    backdrop-filter: blur(24px)
    visibility: visible

.estiloforgotpassowrod
    margin-top: 10px !important
    color: rgb(147, 153, 159)
    @include aling-text(center)
    font-size: 0.888875rem
    @include line-height(1.1883)

.gradient
    background: -webkit-linear-gradient(#F5514D, #EE8493,#6F8FB5)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-size: 1.5em
    font-style: bold
    font-weight: 700

//
.general-button
    background-color: $color-primary
    color: $color-white
    @extend %btn-general
    border: none

.contact-button
    background-color: $color-primary
    color: $color-white
    @extend %btn-contact
    border: none

.seeall-button
    background-color: $color-bg-transparent
    color: $color-white
    @extend %btn-seeall
    border: none
    border: 1px solid $colorblanco

.seeall-button:hover
    background-color: $color-primary

.secondary-button
    background-color: $color-bg-reverse
    color: $color-primary
    @extend %btn-general
    border: 1px solid $color-primary
    &:hover
        background-color: $color-primary
        color: $color-white

.result
    color: $color-primary
    font-weight: bold
    font-size: 30px

.bg-dark
    background-color: $nav-menu-background !important

.custom-drop
    background: rgb(0, 0, 0)
    padding: 24px 24px 10px
    @include alto-ancho(250px,auto)
    border-radius: 10px
    border: 1px solid rgba(255, 255, 255, 0.15)
    color: $color-white

.accordion-button::after
    background-image: $accordion-button-active-icon !important

.accordion-button:not(.collapsed)::after
    background-image: $accordion-button-icon !important

.accordion-button
    color: #ffffff !important
    text-align: left !important
    background-color: $colornegro !important
    border: 0 !important
    border-radius: 0 !important

.accordion-item
    background-color: #0000 !important
    border: none !important

@media screen and (min-width: 1400px)
    .container
        max-width: 1446px !important
    .contact-link
        min-width: 136px
