<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" />
    <title>Download</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body class="backgroundownload">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-black">
      <div class="container">
        <a class="navbar-brand" href="/home.html"><img src="/resources/img/taskade-navbar.png" alt="Logo Taskade" /></a>
        <!-- dowpdown 1 -->
        <div class="d-flex">
          <button class="general-button d-lg-none me-3">Sign up</button>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <!-- dowpdown 1 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Sección security -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Product
              </a>
              <div class="dropdown-menu custom-drop" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/resources/products/download.html">Download Apps</a>
                <a class="dropdown-item" href="/resources/products/features.html">Features</a>
                <a class="dropdown-item" href="/resources/products/security.html">Security</a>
              </div>
            </li>
            <!-- Sección security -->
            <!-- Sección Solutions -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Solutions
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Mind Mapping</a>
              </div>
            </li>
            <!-- Sección Solutions -->
            <li class="nav-item">
              <a class="nav-link nav-link active" href="/resources/Templates/templates.html">Templates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link active" href="#">Princing </a>
            </li>
          </ul>

          <!-- Sección Login -->
          <form class="d-none d-lg-flex">
            <a class="nav-link contact-link text-white disabled" href="#">Contact sales</a>
            <a class="nav-link text-white px-5" href="/resources/Login/login.html">Login </a>

            <button class="general-button">Sign up for free</button>
          </form>
          <!-- Sección Login -->
        </div>
      </div>
    </nav>

    <div class="container containersecurity">
      <div>
        <h1>
          <span class="gradient">Start instantly</span>
          <span class="titulodownload">with free AI templates.</span>
        </h1>
      </div>
      <div class="container">
        <div class="row my-5">
          <div class="d-flex justify-content-between col-12">
            <span class="text-white fs-5 fw-bold">✨ Featured</span>
            <button class="text-white seeall-button"><span class="fw-bold">View More Featured Templates</span> ↗</button>
          </div>
        </div>
        <div class="row">
          <!-- columna 1 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Building-Second-Brain.png" alt="imagen Building Second Brain" />
                </a>
                <p class="fw-bold fs-5 text-white">Building a Second Brain (BASB)</p>
              </div>
            </div>
          </div>
          <!-- columna 2 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Weekly-Tasks.png" alt="imagen Weekly Tasks" />
                </a>
                <p class="fw-bold fs-5 text-white">Weekly Tasks</p>
              </div>
            </div>
          </div>
          <!-- columna 3 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Mind-Map.png" alt="imagen Mind Map" />
                </a>
                <p class="fw-bold fs-5 text-white">Mind Map</p>
              </div>
            </div>
          </div>
          <!-- columna 4 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Bullet-Journal.png" alt="imagen Bullet Journal" />
                </a>
                <p class="fw-bold fs-5 text-white">Bullet Journal</p>
              </div>
            </div>
          </div>
          <!-- columna 5 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Meeting-Notes.png" alt="imagen Meeting Notes" /></a>
                <p class="fw-bold fs-5 text-white">Meeting Notes</p>
              </div>
            </div>
          </div>
          <!-- columna 6 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/To-do-list.png" alt="imagen To do list" /></a>
                <p class="fw-bold fs-5 text-white">To-Do List</p>
              </div>
            </div>
          </div>

          <!-- columna 7 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Writer.png" alt="imagen writer" /></a>
                <p class="fw-bold fs-5 text-white">Writer</p>
              </div>
            </div>
          </div>
          <!-- columna 8 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Blog-Post.png" alt="imagen BlogPost" /></a>
                <p class="fw-bold fs-5 text-white">Blog Post</p>
              </div>
            </div>
          </div>
          <!-- columna 9 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Email-Sequence.png" alt="imagen Email Sequence" /></a>
                <p class="fw-bold fs-5 text-white">Email Sequence</p>
              </div>
            </div>
          </div>
          <!-- columna 10 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Team-Performance-Review.png" alt="imagen Team Performance Review" /> </a>
                <p class="fw-bold fs-5 text-white">Team Performance Review</p>
              </div>
            </div>
          </div>
          <!-- columna 11 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"
                  ><img class="estilocardimg" src="/resources/img/Agile-Project-Management-Board.png" alt="imagen Agile Project Management Board" />
                </a>
                <p class="fw-bold fs-5 text-white">Agile Project Management Board</p>
              </div>
            </div>
          </div>
          <!-- columna 12 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"
                  ><img class="estilocardimg" src="/resources/img/Meeting-A-ctionItems-Tracker.png" alt="imagen Meeting ActionItems Tracker"
                /></a>
                <p class="fw-bold fs-5 text-white">Meeting Action Items Tracker</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row my-5">
          <div class="d-flex justify-content-between col-12">
            <span class="text-white fs-5 fw-bold">🤖 ChatGPT</span>
            <button class="text-white seeall-button"><span class="fw-bold">View More ChatGPT Templates </span> ↗</button>
          </div>
        </div>
        <div class="row">
          <!-- columna 1 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/ChatGPT-Prompts.png" alt="imagen ChatGPT Prompts" />
                </a>
                <p class="fw-bold fs-5 text-white">Building a Second Brain (BASB)</p>
              </div>
            </div>
          </div>
          <!-- columna 2 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Blog-Post-gpt.png" alt="imagen Blog Post" />
                </a>
                <p class="fw-bold fs-5 text-white">Weekly Tasks</p>
              </div>
            </div>
          </div>
          <!-- columna 3 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Rewrite.png" alt="imagen Rewrite" />
                </a>
                <p class="fw-bold fs-5 text-white">Mind Map</p>
              </div>
            </div>
          </div>
          <!-- columna 4 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Content-Marketing.png" alt="imagen Content-Marketing" />
                </a>
                <p class="fw-bold fs-5 text-white">Bullet Journal</p>
              </div>
            </div>
          </div>
          <!-- columna 5 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Email.png" alt="imagen Email" /></a>
                <p class="fw-bold fs-5 text-white">Meeting Notes</p>
              </div>
            </div>
          </div>
          <!-- columna 6 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Article-Writing.png" alt="imagen Article Writing" /></a>
                <p class="fw-bold fs-5 text-white">To-Do List</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row my-5">
          <div class="d-flex justify-content-between col-12">
            <span class="text-white fs-5 fw-bold">🏡 Personal</span>
            <button class="text-white seeall-button"><span class="fw-bold">View More Personal Templates </span> ↗</button>
          </div>
        </div>
        <div class="row">
          <!-- columna 1 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Personal Finance Tracker.png" alt="imagen Personal Finance Tracker" />
                </a>
                <p class="fw-bold fs-5 text-white">Building a Second Brain (BASB)</p>
              </div>
            </div>
          </div>
          <!-- columna 2 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Address Book.png" alt="imagen Address Book" />
                </a>
                <p class="fw-bold fs-5 text-white">Weekly Tasks</p>
              </div>
            </div>
          </div>
          <!-- columna 3 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Weekly Habit Tracker.png" alt="imagen Weekly Habit Tracker" />
                </a>
                <p class="fw-bold fs-5 text-white">Mind Map</p>
              </div>
            </div>
          </div>
          <!-- columna 4 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Task-Tracker.png" alt="imagen Task Tracker" />
                </a>
                <p class="fw-bold fs-5 text-white">Bullet Journal</p>
              </div>
            </div>
          </div>
          <!-- columna 5 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Daily-Work-Routine.png" alt="imagen Daily Work Routine" /></a>
                <p class="fw-bold fs-5 text-white">Meeting Notes</p>
              </div>
            </div>
          </div>
          <!-- columna 6 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Daily-Journal.png" alt="imagen Daily Journal" /></a>
                <p class="fw-bold fs-5 text-white">To-Do List</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row my-5">
          <div class="d-flex justify-content-between col-12">
            <span class="text-white fs-5 fw-bold">⚡️ Project Management</span>
            <button class="text-white seeall-button"><span class="fw-bold">View More Project Management Templates</span> ↗</button>
          </div>
        </div>
        <div class="row">
          <!-- columna 1 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Agile-Project-Management-Board.png" alt="imagen Agile Project Management Board" />
                </a>
                <p class="fw-bold fs-5 text-white">Building a Second Brain (BASB)</p>
              </div>
            </div>
          </div>
          <!-- columna 2 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Agile-Sprint-Planning.png" alt="imagen Agile Sprint Planning" />
                </a>
                <p class="fw-bold fs-5 text-white">Weekly Tasks</p>
              </div>
            </div>
          </div>
          <!-- columna 3 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Daily-Standup-Board.png" alt="imagen Daily Standup Board" />
                </a>
                <p class="fw-bold fs-5 text-white">Mind Map</p>
              </div>
            </div>
          </div>
          <!-- columna 4 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Project-Changelog.png" alt="imagen Project Changelog" />
                </a>
                <p class="fw-bold fs-5 text-white">Bullet Journal</p>
              </div>
            </div>
          </div>
          <!-- columna 5 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"
                  ><img class="estilocardimg" src="/resources/img/Project-Planning-Checklist.png" alt="imagen Project Planning Checklist"
                /></a>
                <p class="fw-bold fs-5 text-white">Meeting Notes</p>
              </div>
            </div>
          </div>
          <!-- columna 6 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Team-Project-Dashboard.png" alt="imagen Team Project Dashboard" /></a>
                <p class="fw-bold fs-5 text-white">To-Do List</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row my-5">
          <div class="d-flex justify-content-between col-12">
            <span class="text-white fs-5 fw-bold">📝 Task Management</span>
            <button class="text-white seeall-button"><span class="fw-bold">View More Task Management Templates</span> ↗</button>
          </div>
        </div>
        <div class="row">
          <!-- columna 1 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/To-do-list.png" alt="imagen To do list" />
                </a>
                <p class="fw-bold fs-5 text-white">To-Do List</p>
              </div>
            </div>
          </div>
          <!-- columna 2 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Pomodoro Kanban Board.png" alt="imagen Pomodoro Kanban Board" />
                </a>
                <p class="fw-bold fs-5 text-white">Pomodoro Kanban Board</p>
              </div>
            </div>
          </div>
          <!-- columna 3 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Getting Things Done.png" alt="imagen Getting Things Done" />
                </a>
                <p class="fw-bold fs-5 text-white">Getting Things Done</p>
              </div>
            </div>
          </div>
          <!-- columna 4 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Priority List.png" alt="imagen Priority List" />
                </a>
                <p class="fw-bold fs-5 text-white">Priority List</p>
              </div>
            </div>
          </div>
          <!-- columna 5 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Weekly Goals.png" alt="imagen Weekly Goals" /></a>
                <p class="fw-bold fs-5 text-white">Weekly Goals</p>
              </div>
            </div>
          </div>
          <!-- columna 6 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"
                  ><img class="estilocardimg" src="/resources/img/Monthly Tasks Tracker Board.png" alt="imagen Monthly Tasks Tracker Board"
                /></a>
                <p class="fw-bold fs-5 text-white">Monthly Tasks Tracker Board</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row my-5">
          <div class="d-flex justify-content-between col-12">
            <span class="text-white fs-5 fw-bold">🛠 Engineering</span>
            <button class="text-white seeall-button"><span class="fw-bold">View More Engineering Templates</span> ↗</button>
          </div>
        </div>
        <div class="row">
          <!-- columna 1 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Celery Tasks Checklist.png" alt="imagen Celery Tasks Checklist" />
                </a>
                <p class="fw-bold fs-5 text-white">Celery Tasks Checklist</p>
              </div>
            </div>
          </div>
          <!-- columna 2 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/API Security Checklist.png" alt="imagen API Security Checklist" />
                </a>
                <p class="fw-bold fs-5 text-white">API Security Checklist</p>
              </div>
            </div>
          </div>
          <!-- columna 3 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/GitHub Open Source Checklist.png" alt="imagen GitHub Open Source Checklist" />
                </a>
                <p class="fw-bold fs-5 text-white">GitHub Open Source Checklist</p>
              </div>
            </div>
          </div>
          <!-- columna 4 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img
                    class="estilocardimg"
                    src="/resources/img/Web Application Security Assessment Checklist.png"
                    alt="imagen Web Application Security Assessment Checklist"
                  />
                </a>
                <p class="fw-bold fs-5 text-white">Web Application Security Assessment Checklist</p>
              </div>
            </div>
          </div>
          <!-- columna 5 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"
                  ><img class="estilocardimg" src="/resources/img/Quality Assurance Testing.png" alt="imagen Quality Assurance Testing"
                /></a>
                <p class="fw-bold fs-5 text-white">Quality Assurance Testing</p>
              </div>
            </div>
          </div>
          <!-- columna 6 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Tech Stacks Checklist.png" alt="imagen Tech Stacks Checklist" /></a>
                <p class="fw-bold fs-5 text-white">Tech Stacks Checklist</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row my-5">
          <div class="d-flex justify-content-between col-12">
            <span class="text-white fs-5 fw-bold">🧠 Mind Map</span>
            <button class="text-white seeall-button"><span class="fw-bold">View More Mind Map Templates </span> ↗</button>
          </div>
        </div>
        <div class="row">
          <!-- columna 1 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img
                    class="estilocardimg"
                    src="/resources/img/Product Release Strategy Meeting Agenda.png"
                    alt="imagen /Product Release Strategy Meeting Agenda"
                  />
                </a>
                <p class="fw-bold fs-5 text-white">Product Release Strategy Meeting Agenda</p>
              </div>
            </div>
          </div>
          <!-- columna 2 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Brainstorm New Ideas.png" alt="imagen Brainstorm New Ideas" />
                </a>
                <p class="fw-bold fs-5 text-white">Brainstorm New Ideas</p>
              </div>
            </div>
          </div>
          <!-- columna 3 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Minimalist Mind Mapping.png" alt="imagen Minimalist Mind Mapping" />
                </a>
                <p class="fw-bold fs-5 text-white">Minimalist Mind Mapping</p>
              </div>
            </div>
          </div>
          <!-- columna 4 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Daily Stand-Up Meeting Mindmap.png" alt="imagen Daily Stand-Up Meeting Mindmap" />
                </a>
                <p class="fw-bold fs-5 text-white">Daily Stand-Up Meeting Mindmap</p>
              </div>
            </div>
          </div>
          <!-- columna 5 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Issue Tree Map.png" alt="imagen Issue Tree Map" /></a>
                <p class="fw-bold fs-5 text-white">Issue Tree Map</p>
              </div>
            </div>
          </div>
          <!-- columna 6 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"
                  ><img
                    class="estilocardimg"
                    src="/resources/img/Business Direction Startup Mapping.png"
                    alt="imagen Business Direction Startup Mapping"
                /></a>
                <p class="fw-bold fs-5 text-white">Business Direction Startup Mapping</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row my-5">
          <div class="d-flex justify-content-between col-12">
            <span class="text-white fs-5 fw-bold">💻 Team Management</span>
            <button class="text-white seeall-button"><span class="fw-bold">View More Team Management Templates</span> ↗</button>
          </div>
        </div>
        <div class="row">
          <!-- columna 1 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/5S Office Audit.png" alt="imagen 5S Office Audit" />
                </a>
                <p class="fw-bold fs-5 text-white">5S Office Audit</p>
              </div>
            </div>
          </div>
          <!-- columna 2 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/New Hire Onboarding Checklist.png" alt="imagen New Hire Onboarding Checklist" />
                </a>
                <p class="fw-bold fs-5 text-white">New Hire Onboarding Checklist</p>
              </div>
            </div>
          </div>
          <!-- columna 3 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img
                    class="estilocardimg"
                    src="/resources/img/Employee Objectives & Performance Review.png"
                    alt="imagen Employee Objectives & Performance Review"
                  />
                </a>
                <p class="fw-bold fs-5 text-white">Employee Objectives & Performance Review</p>
              </div>
            </div>
          </div>
          <!-- columna 4 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#">
                  <img class="estilocardimg" src="/resources/img/Crisis Management Checklist.png" alt="imagen Crisis Management Checklist" />
                </a>
                <p class="fw-bold fs-5 text-white">Crisis Management Checklist</p>
              </div>
            </div>
          </div>
          <!-- columna 5 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Job Recruitment Tracker.png" alt="imagen Job Recruitment Tracker" /></a>
                <p class="fw-bold fs-5 text-white">Job Recruitment Tracker</p>
              </div>
            </div>
          </div>
          <!-- columna 6 -->
          <div class="col-12 col-md-4">
            <div class="card bg-black">
              <div class="card-body">
                <a href="#"><img class="estilocardimg" src="/resources/img/Onboarding Checklist.png" alt="imagen Onboarding Checklist" /></a>
                <p class="fw-bold fs-5 text-white">Onboarding Checklist</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
